[submodule "hardware/step_dir_controller_3x2"]
	path = hardware/step_dir_controller_3x2
	url = https://github.com/janelia-kicad/step_dir_controller_3x2.git
[submodule "firmware/StepDirController"]
	path = firmware/StepDirController
	url = https://github.com/janelia-arduino/StepDirController.git
